<a href="https://colab.research.google.com/github/ak0982/AI-assignment/blob/master/assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import pandas as pd
import numpy as np

from scipy import stats

In [3]:
from google.colab import files 


uploaded = files.upload()

Saving wine.csv to wine.csv

In [10]:
data=pd.read_csv('wine.csv')
#data.mean(axis=1,skipna=True)
data

     Wine  Alcohol  Malic.acid   Ash  ...  Color.int   Hue    OD  Proline
0       1    14.23        1.71  2.43  ...       5.64  1.04  3.92     1065
1       1    13.20        1.78  2.14  ...       4.38  1.05  3.40     1050
2       1    13.16        2.36  2.67  ...       5.68  1.03  3.17     1185
3       1    14.37        1.95  2.50  ...       7.80  0.86  3.45     1480
4       1    13.24        2.59  2.87  ...       4.32  1.04  2.93      735
..    ...      ...         ...   ...  ...        ...   ...   ...      ...
173     3    13.71        5.65  2.45  ...       7.70  0.64  1.74      740
174     3    13.40        3.91  2.48  ...       7.30  0.70  1.56      750
175     3    13.27        4.28  2.26  ...      10.20  0.59  1.56      835
176     3    13.17        2.59  2.37  ...       9.30  0.60  1.62      840
177     3    14.13        4.10  2.74  ...       9.20  0.61  1.60      560

[178 rows x 14 columns]

In [55]:
scores=pd.read_csv('wine.csv',header=0)
scores

     Wine  Alcohol  Malic.acid   Ash  ...  Color.int   Hue    OD  Proline
0       1    14.23        1.71  2.43  ...       5.64  1.04  3.92     1065
1       1    13.20        1.78  2.14  ...       4.38  1.05  3.40     1050
2       1    13.16        2.36  2.67  ...       5.68  1.03  3.17     1185
3       1    14.37        1.95  2.50  ...       7.80  0.86  3.45     1480
4       1    13.24        2.59  2.87  ...       4.32  1.04  2.93      735
..    ...      ...         ...   ...  ...        ...   ...   ...      ...
173     3    13.71        5.65  2.45  ...       7.70  0.64  1.74      740
174     3    13.40        3.91  2.48  ...       7.30  0.70  1.56      750
175     3    13.27        4.28  2.26  ...      10.20  0.59  1.56      835
176     3    13.17        2.59  2.37  ...       9.30  0.60  1.62      840
177     3    14.13        4.10  2.74  ...       9.20  0.61  1.60      560

[178 rows x 14 columns]

In [56]:

def mean(score):
  row_mean=score.mean(axis=1,skipna=True)
  col_mean=score.mean(axis=0,skipna=True)
  overall_mean=col_mean.mean()
  print('\nRow wise mean')
  print(row_mean)
  print('\ncolumn wise mean')
  print(col_mean)
  print('\noverall  mean')
  print(overall_mean)

def median(score):
  row_median=score.median(axis=1,skipna=True)
  col_median=score.median(axis=0,skipna=True)
  overall_median=col_median.median()
  print('\nRow wise def median-->')
  print(  row_median)
  print('\ncolumn wise median-->')
  print(col_median)
  print('\noverall  median-->')
  print(overall_median)

def mode(score):
  row_mode=score.mode(axis=1)
  col_mode=score.mode(axis=0)
  overall_mode=col_mode.mode()
  print('\nRow wise mode')
  print(row_mode)
  print('\ncolumn wise mode')
  print(col_mode)
  print('\noverall  mode')
  print(overall_mode)

def sd(score):
 
  row_sd=score.std(axis=1)
  col_sd=score.std(axis=0)
  overall_sd=col_sd.std()
  print('\nRow wise standard deviation-->')
  print(row_sd)
  print('\ncolumn wise standard deviation-->')
  print(col_sd)
  print('\noverall  standard deviation-->')
  print(overall_sd)




mean(scores)
median(scores)
mode(scores)
sd(scores)

Row wise mean
0       89.000000
1       85.364286
2       95.915714
3      117.963571
4       64.977857
          ...
173     63.875714
174     65.124286
175     72.444286
176     72.640714
177     51.471429
Length: 178, dtype: float64

column wise mean
Wine                      1.938202
Alcohol                  13.000618
Malic.acid                2.336348
Ash                       2.366517
Acl                      19.494944
Mg                       99.741573
Phenols                   2.295112
Flavanoids                2.029270
Nonflavanoid.phenols      0.361854
Proanth                   1.590899
Color.int                 5.058090
Hue                       0.957449
OD                        2.611685
Proline                 746.893258
dtype: float64

overall  mean
64.33398715850723

Row wise def median-->
0      2.930
1      2.705
2      2.990
3      3.470
4      2.835
       ...
173    2.725
174    2.740
175    2.630
176    2.480
177    2.870
Length: 178, dtype: float64

column wise median-->
Wine                      2.000
Alcohol                  13.050
Malic.acid                1.865
Ash                       2.360
Acl                      19.500
Mg                       98.000
Phenols                   2.355
Flavanoids                2.135
Nonflavanoid.phenols      0.340
Proanth                   1.555
Color.int                 4.690
Hue                       0.965
OD                        2.780
Proline                 673.500
dtype: float64

overall  median-->
2.3575

Row wise mode
       0     1     2     3     4   ...     9      10    11     12      13
0    0.28  1.00  1.04  1.71  2.29  ...   5.64  14.23  15.6  127.0  1065.0
1    0.26  1.00  1.05  1.28  1.78  ...   4.38  11.20  13.2  100.0  1050.0
2    0.30  1.00  1.03  2.36  2.67  ...   5.68  13.16  18.6  101.0  1185.0
3    0.24  0.86  1.00  1.95  2.18  ...   7.80  14.37  16.8  113.0  1480.0
4    0.39  1.00  1.04  1.82  2.59  ...   4.32  13.24  21.0  118.0   735.0
..    ...   ...   ...   ...   ...  ...    ...    ...   ...    ...     ...
173  0.52  0.61  0.64  1.06  1.68  ...   7.70  13.71  20.5   95.0   740.0
174  0.43  0.70  0.75  1.41  1.56  ...   7.30  13.40  23.0  102.0   750.0
175  0.43  0.59  0.69  1.35  1.56  ...  10.20  13.27  20.0  120.0   835.0
176  0.53  0.60  0.68  1.46  1.62  ...   9.30  13.17  20.0  120.0   840.0
177  0.56  0.61  0.76  1.35  1.60  ...   9.20  14.13  24.5   96.0   560.0

[178 rows x 14 columns]

column wise mode
   Wine  Alcohol  Malic.acid   Ash  ...  Color.int   Hue    OD  Proline
0   2.0    12.37        1.73  2.28  ...        2.6  1.04  2.87    520.0
1   NaN    13.05         NaN  2.30  ...        3.8   NaN   NaN    680.0
2   NaN      NaN         NaN   NaN  ...        4.6   NaN   NaN      NaN

[3 rows x 14 columns]

overall  mode
   Wine  Alcohol  Malic.acid   Ash  ...  Color.int   Hue    OD  Proline
0   2.0    12.37        1.73  2.28  ...        2.6  1.04  2.87    520.0
1   NaN    13.05         NaN  2.30  ...        3.8   NaN   NaN    680.0
2   NaN      NaN         NaN   NaN  ...        4.6   NaN   NaN      NaN

[3 rows x 14 columns]

Row wise standard deviation-->
0      282.840872
1      278.848975
2      314.548639
3      393.109735
4      195.274640
          ...
173    196.160444
174    198.906389
175    221.684271
176    223.058533
177    148.493305
Length: 178, dtype: float64

column wise standard deviation-->
Wine                      0.775035
Alcohol                   0.811827
Malic.acid                1.117146
Ash                       0.274344
Acl                       3.339564
Mg                       14.282484
Phenols                   0.625851
Flavanoids                0.998859
Nonflavanoid.phenols      0.124453
Proanth                   0.572359
Color.int                 2.318286
Hue                       0.228572
OD                        0.709990
Proline                 314.907474
dtype: float64

overall  standard deviation-->
83.7037441305944

In [64]:
# part2 pearson correlation

features = pd.read_csv("wine.csv") 


col1 = features['Alcohol'] 
col2 = features['Proline'] 


corr=col1.corr(col2)
print('Pearsons correlation is  %.10f' % corr)

Pearsons correlation is  0.6437200372

In [ ]:
arr2[]

     Wine  Alcohol  Malic.acid   Ash  ...  Color.int   Hue    OD  Proline
0       1    14.23        1.71  2.43  ...       5.64  1.04  3.92     1065
1       1    13.20        1.78  2.14  ...       4.38  1.05  3.40     1050
2       1    13.16        2.36  2.67  ...       5.68  1.03  3.17     1185
3       1    14.37        1.95  2.50  ...       7.80  0.86  3.45     1480
4       1    13.24        2.59  2.87  ...       4.32  1.04  2.93      735
..    ...      ...         ...   ...  ...        ...   ...   ...      ...
173     3    13.71        5.65  2.45  ...       7.70  0.64  1.74      740
174     3    13.40        3.91  2.48  ...       7.30  0.70  1.56      750
175     3    13.27        4.28  2.26  ...      10.20  0.59  1.56      835
176     3    13.17        2.59  2.37  ...       9.30  0.60  1.62      840
177     3    14.13        4.10  2.74  ...       9.20  0.61  1.60      560

[178 rows x 14 columns]

In [71]:

#part2 covariance matrix

features = pd.read_csv("wine.csv") 
data=pd.read_csv('wine.csv')
df = pd.DataFrame(data.iloc[:,[1,2,3,4,5]].head())
df.cov()

             Alcohol  Malic.acid       Ash      Acl        Mg
Alcohol     0.366250   -0.129900 -0.028125  -0.1970    4.4350
Malic.acid -0.129900    0.145570  0.092605   1.1921   -0.5255
Ash        -0.028125    0.092605  0.074470   0.9944    0.9105
Acl        -0.197000    1.192100  0.994400  13.3880   13.6100
Mg          4.435000   -0.525500  0.910500  13.6100  131.7000