<a href="https://colab.research.google.com/github/ak0982/AI-assignment/blob/master/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [73]:
#  NAME --> AMAR KUMAR
#  ROLL NO --> 1801016
# ASSIGNMENT 3

# PART 1 Simple Linear Regression (One feature)

import numpy as np
import pandas as pd
np.set_printoptions(suppress=True)

In [74]:
from google.colab import files 


uploaded = files.upload()

Saving slr06.xls to slr06 (1).xls

In [75]:
data=pd.read_excel('slr06.xls')
data

*** No CODEPAGE record, no encoding_override: will use 'ascii'

      X      Y
0   108  392.5
1    19   46.2
2    13   15.7
3   124  422.2
4    40  119.4
..  ...    ...
58    9   87.4
59   31  209.8
60   14   95.5
61   53  244.6
62   26  187.5

[63 rows x 2 columns]

In [76]:
train, validate, test = np.split(data.sample(frac=1), [int(.6*len(data)), int(.8*len(data))])
print(train.size)
print(validate.size)
print(test.size)

74
26
26

In [77]:
all_x=data['X'].to_numpy()

all_y=data['Y'].to_numpy()

In [78]:
mean_all_x=np.mean(all_x)
mean_all_y=np.mean(all_y)
print('mean of X is '+str(mean_all_x))
print('mean of Y is '+str(mean_all_y))

mean of X is 22.904761904761905
mean of Y is 98.18730158730159

In [79]:
num=0
dem=0
for i in range(len(all_x)):
  num +=(all_x[i]-mean_all_x)*(all_y[i]-mean_all_y)
  dem +=(all_x[i]-mean_all_x)**2

slope=num/dem
print('slope is '+str(slope))
const=mean_all_y-(mean_all_x*slope)
print('constant is '+str(const))

slope is 3.4138235600663664
constant is 19.99448575911481

In [80]:
expected_output=slope*all_x+const
expected_output

array([388.68743025,  84.8571334 ,  64.37419204, 443.30860721,
       156.54742816, 214.58242868,  98.51242764,  67.7880156 ,
       173.61654596,  54.13272136,  37.06360356, 183.85801664,
        57.54654492,  98.51242764,  43.89125068,  26.82213288,
       101.9262512 ,  40.47742712,  30.23595644,  98.51242764,
        40.47742712,  50.7188978 ,  50.7188978 ,  30.23595644,
       118.995369  ,  43.89125068,  33.64978   ,  88.27095696,
        43.89125068,  33.64978   ,  19.99448576, 105.34007476,
        40.47742712,  37.06360356,  95.09860408,  57.54654492,
       228.23772292,  60.96036848,  33.64978   ,  74.61566272,
        64.37419204, 224.82389936, 159.96125172, 146.30595748,
       207.75478156, 159.96125172,  57.54654492, 112.16772188,
        47.30507424,  30.23595644,  78.02948628,  64.37419204,
        64.37419204,  71.20183916,  47.30507424, 118.995369  ,
       122.40919256, 101.9262512 ,  50.7188978 , 125.82301612,
        67.7880156 , 200.92713444, 108.75389832])

In [81]:
mae_train=0
for i in train.index:
  mae_train +=abs(all_y[i]-expected_output[i])

mae_train /=len(train)
print('MAE of train is '+str(mae_train))

MAE of train is 33.34210041931599

In [82]:

mae_validate=0
for i in validate.index:
  mae_validate +=abs(all_y[i]-expected_output[i])

mae_validate /=len(validate)
print('MAE of validate is '+str(mae_validate))

MAE of validate is 22.714745686174197

In [83]:
mae_test=0
for i in test.index:
  mae_test +=abs(all_y[i]-expected_output[i])  

mae_test /=len(train)
print('MAE of test is '+str(mae_test))

MAE of test is 7.1626570931338

In [69]:
# PART 2 Multiple Linear Regression



from sklearn import datasets
boston = datasets.load_boston(return_X_y=False)
boston['target'].size
boston['feature_names']
boston

data =pd.read_csv('/usr/local/lib/python3.6/dist-packages/sklearn/datasets/data/boston_house_prices.csv',header=1)
data
#boston

        CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
0    0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
501  0.06263   0.0  11.93     0  0.573  ...  273     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93     0  0.573  ...  273     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93     0  0.573  ...  273     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93     0  0.573  ...  273     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93     0  0.573  ...  273     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

In [70]:
train, validate, test = np.split(data.sample(frac=1), [int(.6*len(data)), int(.8*len(data))])
print(train)
print(validate)
print(test)

         CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
330   0.04544   0.0   3.24     0  0.460  ...  430     16.9  368.57   9.09  19.8
323   0.28392   0.0   7.38     0  0.493  ...  287     19.6  391.13  11.74  18.5
238   0.08244  30.0   4.93     0  0.428  ...  300     16.6  379.41   6.36  23.7
380  88.97620   0.0  18.10     0  0.671  ...  666     20.2  396.90  17.21  10.4
127   0.25915   0.0  21.89     0  0.624  ...  437     21.2  392.11  17.19  16.2
..        ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
228   0.29819   0.0   6.20     0  0.504  ...  307     17.4  377.51   3.92  46.7
371   9.23230   0.0  18.10     0  0.631  ...  666     20.2  366.15   9.53  50.0
22    1.23247   0.0   8.14     0  0.538  ...  307     21.0  396.90  18.72  15.2
14    0.63796   0.0   8.14     0  0.538  ...  307     21.0  380.02  10.26  18.2
132   0.59005   0.0  21.89     0  0.624  ...  437     21.2  385.76  11.12  23.0

[303 rows x 14 columns]
         CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
434  13.91340   0.0  18.10     0  0.713  ...  666     20.2  100.63  15.17  11.7
97    0.12083   0.0   2.89     0  0.445  ...  276     18.0  396.90   4.21  38.7
43    0.15936   0.0   6.91     0  0.448  ...  233     17.9  394.46   7.44  24.7
160   1.27346   0.0  19.58     1  0.605  ...  403     14.7  338.92   5.50  27.0
405  67.92080   0.0  18.10     0  0.693  ...  666     20.2  384.97  22.98   5.0
..        ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
246   0.33983  22.0   5.86     0  0.431  ...  330     19.1  390.18   9.16  24.3
70    0.08826   0.0  10.81     0  0.413  ...  305     19.2  383.73   6.72  24.2
336   0.03427   0.0   5.19     0  0.515  ...  224     20.2  396.90   9.80  19.5
196   0.04011  80.0   1.52     0  0.404  ...  329     12.6  396.90   4.08  33.3
251   0.21409  22.0   5.86     0  0.431  ...  330     19.1  377.07   3.59  24.8

[101 rows x 14 columns]
         CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
212   0.21719   0.0  10.59     1  0.489  ...  277     18.6  390.94  16.03  22.4
422  12.04820   0.0  18.10     0  0.614  ...  666     20.2  291.55  14.10  20.8
239   0.09252  30.0   4.93     0  0.428  ...  300     16.6  383.78   7.37  23.3
284   0.00906  90.0   2.97     0  0.400  ...  285     15.3  394.72   7.85  32.2
466   3.77498   0.0  18.10     0  0.655  ...  666     20.2   22.01  17.15  19.0
..        ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
89    0.05302   0.0   3.41     0  0.489  ...  270     17.8  396.06   5.70  28.7
379  17.86670   0.0  18.10     0  0.671  ...  666     20.2  393.74  21.78  10.2
499   0.17783   0.0   9.69     0  0.585  ...  391     19.2  395.77  15.10  17.5
459   6.80117   0.0  18.10     0  0.713  ...  666     20.2  396.90  14.70  20.0
46    0.18836   0.0   6.91     0  0.448  ...  233     17.9  396.90  14.15  20.0

[102 rows x 14 columns]